.image{
    height: 240px;
    width: 180px;
}
.card{
    width: 200px;
    height: 420px;
    box-shadow: 1px 4px 3px lightgray;
    border-radius: 10px;
    margin: 15px;
}
.card:hover{
    box-shadow: 2px 6px 4px rgb(128, 126, 126);
    transition:  all 0.6;
    cursor: pointer;
}

.product-title{
    text-align: center;
    height: 50px;
}

.product-price{
     text-align: center;
}

.product-button{
    border: none;
    background-color: #ffefc4;
    font-size: medium;
    padding: 5px 20px;
    border-radius: 20px;
}

.product-button:hover{
    background-color: #f9d6a5;
    transition: all 0.3s;
    transform: scale(1.05);
    cursor: pointer;
}